:root {
	--white: #c7c7c7;
	--text-color: var(--white);

	--green1: #025959;
	--green2: #027333;
	--green3: #03a63c;
	--green4: #04d939;

	--primary-color: var(--green3);
	--secondary-color: gray;
	--tenary-color: orange;

	--bg-color: #00060a;
	--bg-color-light: #025959;

	--hover-color: rgba(255, 255, 255, 0.1);

	--error: red;
	--success: green;
	--warning: yellow;

	--margin-sm: 0.2em;
	--margin-md: 0.5em;
	--margin-lg: 1em;
	--margin-xl: 2em;
}
